.container {
    background: #1111114f;
}

.navbar {
    display: none;
    width: 250px;
    height: 200vh;
    background: #222;
    transition: .6s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.267);
    z-index: 1;
}

.navbar div {
    border-bottom: 1px solid #ccc;
}

.navbar div a {
    text-decoration: none;
    color: #ccc;
}

.navbar div a span {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 15px;
    padding: 10px;
    font-size: 1em;
    border-radius: 20px;
}

.navbar div a span:hover {
    background: #444;
}

.navbar div a span i {
    margin-right: 30px;
}

.thirdOptions p {
    color: #ccc;
    margin: 20px;
}

.btnLogin {
    color: red;
    border: 1px solid #cccccc59;
}

.navbar div a .btnLogin:hover {
    background: #00000027;
}

.btnHidden {
    display: none;
}

.btnHidden:checked + .navbar {
    display: flex;
    flex-direction: column;
}
