.containerNavigator {
    width: 100%;
    overflow: scroll;
}

.containerNavigator ul {
    list-style: none;
    display: flex;
}

.containerNavigator ul li {
    margin: 0px 20px;
    padding: 10px 40px;
}

.containerNavigator ul li a {
    
    color: #ccc;
    
    margin: 0px 10px;
}

.active {
    border-bottom: 1px solid #ccc;
}