.main {
    position: absolute;
    top: 100px;
    left: 160px;
    margin-left: 100px;
    width: 80%;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
}

.videos {
    /* border: 1px solid #ccc; */
    margin-top: 40px;
}

.videos h2 {
    color: #ccc;
    margin: 20px 0px;
}

.videos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.videos ul li {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    width: 350px;
    padding: 5px;
    margin: 0 10px 20px 0px; 
}

.videos ul li .videoPhoto {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .4s;
}

.videos ul li .videoPhoto:hover {
    border-radius: 0px;
}

.videos ul li .titles {
    display: flex;
}

.videos ul li .titles .channelPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid #ccc; */
    margin: 5px 0px;
}

.videos ul li .titles h3 {
    color: #ccc;
    width: 80%;
    height: 50px;
    margin: 10px;
    overflow: hidden;
}

.videos ul li .channelName {
    color: #aaa;
    margin-left: 60px;
    transition: .3s;
}

.videos ul li .channelName:hover {
    color: #eee;
}

.videos ul li .visualizations {
    display: flex;
    color: #aaa;
    margin: 5px 0px 5px 60px;
}

@media (max-width: 1021px) {
    .main {
        position: absolute;
        top: 100px;
        left: 0px;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        /* border: 1px solid #ccc; */
        z-index: -1;
    }

    .videos ul li .titles .channelPhoto {
        height: 30px;
        width: 30px;
    }

    .videos ul li .titles h3 {
        font-size: 1em;
        margin: 5px 5px 5px 1px;
    }

    .videos ul li {
        width: 30vw;
        font-size: 2vw;
    }

    .videos ul li .channelName {
        margin: -10px 0px 0px 5px;
    }

    .videos ul li .visualizations {
        margin: 5px;
    }

    .videos ul li .visualizations p {
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .videos ul li {
        width: 30vw;
        font-size: 2vw;
    }

    .videos ul li .videoPhoto{
        height: auto;
    }
}

@media (max-width: 500px) {
    .main {
        position: absolute;
        top: 100px;
        left: 0px;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        /* border: 1px solid #ccc; */
        z-index: -1;
    }
    .videos ul li {
        width: 100%;
        font-size: 1.2em;
    }

    .videos ul li .titles .channelPhoto {
        width: 50px;
        height: 50px;
    }

    .videos ul li .titles h3 {
        font-size: 1.1em;
        width: 80%;
        margin: 10px;
    }

    .videos ul li .visualizations {
        display: flex;
        color: #aaa;
        margin: 5px 0px 5px 60px;
    }

    .videos ul li .channelName {
        margin: 0px 0px 0px 60px;
    }
}